* {
  font-family: "Palatino Linotype", Arial, Helvetica, sans-serif;
  color: #DDD;
}

body {
  background-color: #000;
}

h2, h4, h6 {
  color: #CCC;
}

h1. h3, h6 {
color: #DDD;
}

h4, h6 {
text-transform: uppercase;
}

p {
  font-size: 16px;
}

hr {
border: 0.5px dashed #999;
}

li {
padding-bottom: 10px;
font-style: bold;
}


blockquote {
text-align: left;
padding-top: 0px;
padding-bottom: 0px;
padding-left: 15px;
padding-right: 15px;
font-style: italic;
color: #333;
background: #666;
border-left:5px solid #777;
}

pre {
text-indent: -5px;
border: 2px solid #bbb;
font-size: 16px;
color: #000;
background-color: #e8e8e8;
display: block;
padding-top: 10px;
padding-bottom: 0px;
padding-left: 15px;
padding-right: 15px;
margin-left: -5px;
/*white-space: -moz-pre-wrap;*/
border-radius: 10px;
}


table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #CCC;
}

th, td {
  padding: 5px;
  text-align: left;
}
code {
/*border: 1px solid #999;
font-weight: bold;*/
font-size: 14px;
color: #000;
background-color: #e8e8e8;
padding-top: 1px;
padding-bottom: 0px;
padding-left: 5px;
padding-right: 5px;
margin-bottom: 0px;}

br {
padding-bottom: 5px;
}
